.DS_Store

# for npm
npm-debug.log
node_modules/

# for grunt
.tscache/
typings/
example/*.js
example/*.js.map
example/*.d.ts
public/**/*.js
public/**/*.js.map
public/**/*.d.ts
test/**/*.js
test/**/*.js.map
test/**/*.d.ts
pages/

tscommand.tmp.txt
.baseDir.ts
